@media only screen and (max-width:760px){
    body{

    }
    .navContainers{
        display: none;
    }
    .main1{
        flex-wrap: wrap;
        text-align: center;
    }
    .all{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #why{
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        padding: 20px;
        color:#143F26 ;
    }
    .gridContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #doubP{
        height: 500px;
        width: 500px;
    }
    #transferTExt{
        font-weight: 500;
        font-size: 40px;
        text-align: center;
    }
    .trs{
        display: block;
        font-weight: 500;
        font-size: 40px;
    }
    .section3{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 100px;
    }
}