@media only screen and (max-width:760px){
    .navContainers{
        display: none;
    }
    .main1{
        flex-wrap: wrap;
        text-align: center;
    }
    .all{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #why{
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        padding: 20px;
        color:#143F26 ;
    }
    .gridContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #doubP{
        height: 500px;
        width: 500px;
    }
    #transferTExt{
        font-weight: 500;
        font-size: 40px;
        text-align: center;
    }
    .trs{
        display: block;
        font-weight: 500;
        font-size: 40px;
    }
    .section3{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 100px;
    }
    
    .section4{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .customer{
        font-family: Satoshi;
        font-size: 30px;
        font-weight: 500;
        line-height: 52px;
        letter-spacing: 0em;
        text-align: center;
        color:  rgba(189, 255, 13, 1);
        padding: 20px;
    }
    .solutionBox{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background-color: #143F26;
       margin-top: 40px;
    }
    .one  ,.two , .three{
        text-align: center;
        font-size: 30px;
    }
    .badge{
         display: flex;
         justify-content: center;
         align-items: center;
    }
    .dwn{
        color:rgba(20, 63, 38, 1);
        display: block;
        line-height: 30px;
        font-family: Neue Montreal;
        font-size: 40px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: left;
        text-align: center;
    }
    .downBox{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: .5px solid black;
        margin: 20px;
        background-color: #F8FEF5;
    }
}