*{
 padding:0;
 margin: 0;
 font-family:Montserrat;
 
}
.headerConatiner{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: black;
}
.logoText{
    font-size: 2rem;
    color: #BDFF0D;
    text-transform:capitalize ;
}
#navLinks{
    text-decoration: none;
    text-transform: capitalize;
    color: #A9AAA1;
    margin: 15px;
}
#loginBtn{
    width: 120px;
    padding:8px;
    background-color: transparent;
    border: none;
    color: white;
}
 #getStartedBtn{
    width: 120px;
    padding:8px;
    border: 1.5px solid white;
    background-color: black;
    color: white;
}
.main1{
    background: rgba(26, 27, 24, 1);
}
.welcome{
    font-size: 72px;
    padding: 50px;
}
.spn2{
    background:linear-gradient( 50deg, rgba(189, 255, 13, 1),rgba(255, 255, 255, 0.41));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.explore{
    line-height: 40px;
    padding-left: 40px;
    padding-top: -60px;
    color: rgba(169, 170, 161, 1);
}
.spn1{
    display: block;
}
.download{
     background-color: #bdff0d;
     color: black;
     padding: 8px;
     margin:40px;
     border: none;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      text-transform: capitalize;
}
#mainImg{
    height: 500px;
    padding: 50px;
}
.main1{
     display: flex;
     justify-content: space-around;
}