*{
 padding:0;
 margin: 0;
 font-family: 'Satoshi', sans-serif;
 
}
.headerConatiner{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: rgba(26, 27, 24, 1);
}
.logoText{
    font-size: 2rem;
    color: #BDFF0D;
    text-transform:capitalize ;
}
#navLinks{
    text-decoration: none;
    text-transform: capitalize;
    color: #A9AAA1;
    margin: 15px;
}
#loginBtn{
    width: 120px;
    padding:8px;
    background-color: transparent;
    border: none;
    color: white;
    text-transform: capitalize;
}
 #getStartedBtn{
    width: 120px;
    padding:8px;
    border: 1.5px solid white;
    background-color: transparent;
    color: white;
    text-transform: capitalize;
}
.main1{
    background: rgba(26, 27, 24, 1);
}
.welcome{
    font-size: 72px;
    padding: 50px;
}
.spn2{
    background:linear-gradient( 50deg, rgba(189, 255, 13, 1),rgba(255, 255, 255, 0.41));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.explore{
    line-height: 40px;
    padding-left: 40px;
    padding-top: -60px;
    color: rgba(169, 170, 161, 1);
}
.spn1{
    display: block;
}
.download{
     background-color: #bdff0d;
     color: black;
     padding: 8px;
     margin:40px;
     border: none;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      text-transform: capitalize;
}
#mainImg{
    height: 500px;
    padding: 50px;
}
.main1{
     display: flex;
     justify-content: space-around;
}
.overLappingImgs{
    position: relative
}
#img1{
    position: relative;
}
#img2{
    position: relative;
     right: 30px;
}
#img3{
    position: relative;
    right: 60px;
}
#million{
     color:rgba(255, 255, 255, 1);
      font-size: 3rem;
}
.all{
     display: flex;
}
.trusted{
    color: white;
    line-height: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
}
#why{
    font-weight: bold;
    font-size: 59.43px;
    text-align: center;
    padding: 20px;
    color:#143F26 ;
}
#clear{
    text-align: center;
    color:#191D23 ;
    font-weight: 400px;
}
.section2{
    background-color: #F8FEF5;
}