    *{
    padding:0;
    margin: 0;
    font-family: 'Satoshi', sans-serif;
    box-sizing: border-box;
    }
    body{
        overflow-x: hidden;
    }
    .headerConatiner{
        display: flex;
        justify-content: space-around;
        padding: 20px;
        background: rgba(26, 27, 24, 1);
    }
    .logoText{
        font-size: 2rem;
        color: #BDFF0D;
        text-transform:capitalize ;
    }
    #navLinks{
        text-decoration: none;
        text-transform: capitalize;
        color: #A9AAA1;
        margin: 15px;
    }
    #loginBtn{
        width: 120px;
        padding:8px;
        background-color: transparent;
        border: none;
        color: white;
        text-transform: capitalize;
    }
    #getStartedBtn{
        width: 120px;
        padding:8px;
        border: 1.5px solid white;
        background-color: transparent;
        color: white;
        text-transform: capitalize;
    }
    .main1{
        background: rgba(26, 27, 24, 1);
    }
    .welcome{
        font-size: 72px;
        padding: 50px;
        color: white;
    }
    .spn2{
        background:linear-gradient( 50deg, rgba(189, 255, 13, 1),rgba(255, 255, 255, 0.41));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .explore{
        line-height: 40px;
        padding-left: 40px;
        padding-top: -60px;
        color: rgba(169, 170, 161, 1);
    }
    .spn1{
        display: block;
    }
    .download{
        background-color: #bdff0d;
        color: black;
        padding: 8px;
        margin:40px;
        border: none;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-transform: capitalize;
    }
    #mainImg{
        height: 500px;
        padding: 50px;
    }
    .main1{
        display: flex;
        justify-content: space-around;
    }
    .overLappingImgs{
        position: relative
    }
    #img1{
        position: relative;
    }
    #img2{
        position: relative;
        right: 30px;
    }
    #img3{
        position: relative;
        right: 60px;
    }
    #million{
        color:rgba(255, 255, 255, 1);
        font-size: 3rem;
    }
    .all{
        display: flex;
    }
    .trusted{
        color: white;
        line-height: 30px;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    #why{
        font-weight: bold;
        font-size: 59.43px;
        text-align: center;
        padding: 20px;
        color:#143F26 ;
    }
    #clear{
        text-align: center;
        color:#191D23 ;
        font-weight: 400px;
    }
    .section2{
        background-color: #F8FEF5;
    }
    .gridBoxes{
        width: 350px;
        text-align: center;
        background-color: #FFFFFF;
        margin: 20px;
        padding: 12px;
        line-height: 35px;
        letter-spacing: 2px;
    }
    .gridBoxes img{
        padding: 20px;
    }
    #mobil{
    font-weight: 400;
    padding: 15px;
    text-transform: capitalize;
    }
    .gridContainer{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        padding: 50px;
    }
    .gridFlex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section3{
        display: flex;
        justify-content: space-evenly;
        padding: 100px;
    
    }
    #transferTExt{
        font-weight: 500;
        font-size: 59.43px;
        text-align: center;
    }
    .trs{
        display: block;
        font-weight: 500;
        font-size: 59.43px;
    }
    .textBox{
        width: 400px;
    }
    #with{
        font-weight: 400;
        font-size: 21.61px;
        line-height: 40px;
        padding: 30px;
    
    }
    .download2{
        background-color:#BDFF0D;
        border-radius: 10px;
        color: black;
        padding: 8px;
        margin:40px;
        border: none;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-transform: capitalize;
    }
    #receive{
        font-weight: 500;
        font-size:50px;
        font-family: 'Satoshi', sans-serif;
    }
    #experience{
    font-family: Satoshi;
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    }
    .textbox{
        margin: 30px;
        width: 500px;
    }
    .section4{
        display: flex;
        justify-content: space-evenly;
    }
    #dollar{
        position:absolute;
    }
    #coin{
        position:absolute;
        right:  10rem;
        transform: translateY(150px);
    }
    #man::before{
    content: "";
    position:relative;
    height: 200px;
    width: 200px;
    background-color: red;
    }
    .section5{
        background: rgba(25, 43, 26, 1);
    }
    .customer{
        font-family: Satoshi;
        font-size: 59px;
        font-weight: 500;
        line-height: 52px;
        letter-spacing: 0em;
        text-align: center;
        color:  rgba(189, 255, 13, 1);
        padding: 20px;
    }
    #hundred{
        color: white;
    }
    .custometsp{
        display: block;
    }
    .reviewBox1{
        background-color: rgba(255, 255, 255, 1);
        width: 500px;
        padding: 40px;
        border-radius: 25px;

    }
    .reTExt{
                font-family: Satoshi;
        font-size: 17px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
        padding: 30px;
        line-height: 30px;
        letter-spacing: 2px;
        border-bottom: 2px black solid;

    }
    #customerImg{
        margin: 20px;
    }
    .next , .prev{
       background-color:#BDFF0D; 
       width: 70px;
       height: 60px;
       border-radius: 50%;
       padding: 8px;
       border-radius: 30px;
       border: none;
       font-weight: bolder;
       font-size: 2rem;
       margin: 10px;
    }
    .flexcont{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .arrowCont{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .Got{
         font-family: Satoshi;
        font-size: 59px;
        font-weight: 500;
        line-height: 80px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(20, 63, 38, 1);
        padding: 20px;
    }
    .GEt{
            font-family: Satoshi;
            font-size: 22px;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: center;
            color: rgba(20, 63, 38, 1);
    }
        .quest , .answer{
            font-family: Satoshi;
            font-size: 22px;
            font-weight: 500;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: left;
    }
    .answer{
        font-family: Satoshi;
        font-size: 22px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        height: 0px;
        overflow: hidden;
}
    .accordion{
      border-bottom: 3px solid black;
         max-width: 100%;
    }
    .accordionHEader{
        background-color: #143F26;
        color: white;
        padding: 10px;
    }
    .accordionHEader::before{
        content: ">";
        position: absolute;
        font-size: 1rem;
        color: white;
        font-weight: bolder;
        right: 90px;
    }
    .accordionHEader:hover .answer{
        height: 200px;
        overflow: none;
    }